div, nav {
    border: solid #000 1px;
    /* border-radius: 5%; */
    /* 테두리 구분하기 위해 임시로 둔 스타일 */
}

#container {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    margin: auto;
}

#header {
    width: 100%;
    height: 5%;
    padding: 0;
}
#left-sidebar {
    width: 10%;
    height: 600px;
    float: left;
}
#contents {
    width: 80%;
    float: left;
}
#right-sidebar {
    width: 10%;
    height: 600px;
    float: right;
}
#footer {
    width: 100%;
    height: 100px;
    clear: left;
}

#logo {
    padding: 0;
}
nav {
    padding: 0;
}
ul {
    display: flex;
}
li {
    border: solid #000 1px;
    display: inline-block;
    padding: 1%;  
    margin-right: 10px;  
}

#wrapper_essential {
    display: flex;
    padding: 0.5%;
}

.name { grid-area: name; }
.gender { grid-area: gender; }
.age { grid-area: age; }
.address { grid-area: address; }
.phone { grid-area: phone; }
.cheif-complain { grid-area: cheif-complain; }
.onset-date { grid-area: onset-date; }
.present-illness { grid-area: present-illness; }
.past-history { grid-area: past-history; }
.family-history { grid-area: family-history; }
.social-history { grid-area: social-history; }

#wrapper_essemtial {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    grid-template-rows: repeat(2, 100px);
    grid-template-areas: 
      "name gender address"
      "name age phone"
    ;
}

#wrapper_patient {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas: 
      "cheif-complain cheif-complain onset-date"
      "present-illness present-illness past-history"
      "present-illness present-illness family-history"
      "present-illness present-illness social-history"
    ;
}


