div, nav {
    border: solid #000 1px;
    /* border-radius: 5%; */
    /* 테두리 구분하기 위해 임시로 둔 스타일 */
}

#container {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    margin: auto;
}

#header {
    width: 100%;
    height: 5%;
    padding: 0;
}
#left-sidebar {
    width: 10%;
    height: 600px;
    background-color: aliceblue;
    float: left;
}
#contents {
    width: 80%;
    float: left;
}
#right-sidebar {
    width: 10%;
    height: 600px;
    background-color: aliceblue;
    float: right;
}
#footer {
    width: 100%;
    height: 100px;
    clear: left;
}

#logo {
    background-color: aquamarine;
    padding: 0;
}
nav {
    background-color: aqua;
    padding: 0;
}
ul {
    display: flex;
}
li {
    border: solid #000 1px;
    display: inline-block;
    padding: 1%;
}

#wrapper_essential {
    background-color: bisque;
    display: flex;
    padding: 0.5%;
}

#wrapper_patient {
    background-color: antiquewhite;
}


